.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
.deleteBtn{
    position:absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
    margin-right: 15px;
}
@media (max-width: 428px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */

    
.carousel-inner .carousel-item-end.active,
.carousel-inner .carousel-item-next {
    transform: translateX(25%);
}

.carousel-inner .carousel-item-start.active, 
.carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
}


.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.carousel-control-prev-icon{
    background-color: black;
    border-radius: 10px;
}

.carousel-control-next-icon{
    background-color:black;
    border-radius: 10px;
}

.carousel-control-next,
.carousel-control-prev{
    width: 2%
}

@media (min-width: 575px){
    .carousel-control-prev-icon{
        margin-left:-250%;  
    }

    .carousel-control-next-icon{
        margin-right: -250%;
    }
}

@media (min-width: 769px){
    .carousel-control-prev-icon{
        margin-left:-350%;  
    }

    .carousel-control-next-icon{
        margin-right: -350%;
    }
}

@media(max-width:574px){
    .carousel-control-prev-icon{
        margin-left: -50%;
        margin-top: -70%;
    }

    .carousel-control-next-icon{
        margin-right: -50%;
        margin-top: -70%;
    }
}

.news_description{
    font-size:11px;
    color:black;
}

.news_carousel{
    margin-top: 3%;
    margin-bottom: 4%;
}

.news_img{
    height: 35%;
}

.card{
    position: relative;
}

.saveBtn{
    position: absolute;
    display: none;
    right: 0;
    margin: 5px;
    margin-right: 10px;
}

.saved{
    background-color: forestgreen;
    border-color:forestgreen;
    color:white;
}

.saved:hover{
    background-color: darkgreen;
    border-color:darkgreen;
    color:white;
}

.card:hover .saveBtn{
    display: block;
}

.btn-sm{
    font-size:10px;
}

.date-time{
    font-size: 10px;
}

/* Saved News  */
.card-box {
    position: relative;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px #c5c5c5;
    float: left;
    border-radius: 10px;
}
.card-box .card-thumbnail {
    overflow: hidden;
    border-radius: 10px;
    transition: 1s;
}


.removeBtn{
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    margin-top: 8px;
    margin-right: 8px;
}

.readMore{
    position:absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 15px;
    margin-right: 8px;
}
.card-box:hover .removeBtn{
    display: block;
}

.card-thumbnail{
    height: 35%;
    width: 100%;
}

#page-container {
    position: relative;
    min-height: 92vh;
}

#container-wrap{
    padding-bottom: 2.5rem; 
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}