{% extends 'base.html' %}
{% block title %}Daily News{% endblock %}
{% block message_board %}
    {% if not g.user %}
    <div class="container-fluid mt-2">
        <div class="alert alert-info text-center" role="alert">
            Welcome! Please <a href="/login" class="alert-link">Log in </a> or  <a href="/signup" class="alert-link">Sign up </a> to save the articles!
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block content %}

{% if g.user %}
<div id="carouselControl1" class="carousel slide news_carousel" data-bs-ride="carousel">
    <h3>Recommended for you</h3>
    <div class="carousel-inner">
        {%for news in interest_news %}
            {% if loop.index == 1%}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="news_card card h-100">
                    {% if g.user%}
                        {% if g.user.is_news_saved(news.url) %}
                            <button class="saveBtnHome saveBtn btn btn-danger btn-sm saved">
                                Saved
                            </button>
                        {% else%}
                            <button class="saveBtnHome saveBtn btn btn-danger btn-sm">
                                Save
                            </button>
                        {% endif %}
                    {% endif %}
                    {% if not news.image %}
                        <img src="/static/image/news.png" class="news_img" alt="{{news.title[0:30]}}">
                    {% else %}
                        <img src="{{news.image}}" class="d-block news_img" alt="image for: {{news.title[0:30]}}">
                    {% endif %}
                    <div class="card-body h-70">
                        <h6 class="card-title">{{news.title}}</h6>
                        <span class="date-time text-muted">{{news.date}}</span>
                        <p class="card-text news_description">
                            {{news.description}}
                        </p>
                        <a href="{{news.url}}" target="_blank" class="btn btn-sm btn-outline-primary readMore">Read More >></a>
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControl1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselControl1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endif %}
<div id="carouselControl2" class="carousel slide news_carousel" data-bs-ride="carousel">
    <h3>Today's top headlines</h3>
    <div class="carousel-inner">
        {%for news in top_headlines %}
        {% if loop.index == 1%}
        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
                <div class="news_card card">
                    {% if g.user%}
                        {% if g.user.is_news_saved(news.url) %}
                            <button class="saveBtnHome saveBtn btn btn-danger btn-sm saved">
                                Saved
                            </button>
                        {% else%}
                            <button class="saveBtnHome saveBtn btn btn-danger btn-sm">
                                Save
                            </button>
                        {% endif %}
                    {% endif %}
                    {% if not news.image %}
                        <img src="/static/image/news.png" class="news_img"alt="{{news.title[0:30]}}">
                    {% else %}
                        <img src="{{news.image}}" class="d-block news_img" alt="image for: {{news.title[0:30]}}">
                    {% endif %}
                    <div class="card-body">
                        <h6 class="card-title">{{news.title}}</h6>
                        <span class="date-time text-muted">{{news.date}}</span>
                        <p class="card-text news_description">
                            {{news.description}}
                        </p>
                        <a href="{{news.url}}" target="_blank" class="btn btn-sm btn-outline-primary readMore">Read More >></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControl2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselControl2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock%}