{% extends 'base.html' %}
{% block title %}Daily News{% endblock %}
{% block content %}

{% if g.user %}
<div id="carouselControl1" class="carousel slide news_carousel" data-bs-ride="carousel">
    <h3>Recommended for you</h3>
    <div class="carousel-inner">
        {%for news in interest_news %}
            {% if loop.index == 1%}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="news_card card h-100">
                    {% if g.user%}
                        {% if g.user.is_news_saved(news.url) %}
                            <button class="saveBtnHome saveBtn btn btn-danger btn-sm saved">
                                Saved
                            </button>
                        {% else%}
                            <button class="saveBtnHome saveBtn btn btn-danger btn-sm">
                                Save
                            </button>
                        {% endif %}
                    {% endif %}
                    {% if not news.image %}
                        <img src="/static/image/news.png" class="news_img" alt="{{news.title[0:30]}}">
                    {% else %}
                        <img src="{{news.image}}" class="d-block news_img" alt="image for: {{news.title[0:30]}}">
                    {% endif %}
                    <div class="card-body h-70">
                        <h6 class="card-title">{{news.title}}</h6>
                        <span class="date-time text-muted">{{news.date}}</span>
                        <p class="card-text news_description">
                            {{news.description}}
                        </p>
                        <a href="{{news.url}}" target="_blank" class="text-secondary">Read More</a>
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControl1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselControl1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endif %}
<div id="carouselControl2" class="carousel slide news_carousel" data-bs-ride="carousel">
    <h3>Today's top headlines</h3>
    <div class="carousel-inner">
        {%for news in top_headlines %}
        {% if loop.index == 1%}
        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
                <div class="news_card card">
                    {% if g.user%}
                        {% if g.user.is_news_saved(news.url) %}
                            <button class="saveBtnHome saveBtn btn btn-danger btn-sm saved">
                                Saved
                            </button>
                        {% else%}
                            <button class="saveBtnHome saveBtn btn btn-danger btn-sm">
                                Save
                            </button>
                        {% endif %}
                    {% endif %}
                    {% if not news.image %}
                        <img src="/static/image/news.png" class="news_img"alt="{{news.title[0:30]}}">
                    {% else %}
                        <img src="{{news.image}}" class="d-block news_img" alt="image for: {{news.title[0:30]}}">
                    {% endif %}
                    <div class="card-body">
                        <h6 class="card-title">{{news.title}}</h6>
                        <span class="date-time text-muted">{{news.date}}</span>
                        <p class="card-text news_description">
                            {{news.description}}
                        </p>
                        <a href="{{news.url}}" target="_blank" class="text-secondary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControl2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselControl2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- <div class="container text-center my-3">
    <h2 class="font-weight-light">Bootstrap Multi Slide Carousel</h2>
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/31f?text=1" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 1</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/e66?text=2" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 2</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/7d2?text=3" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 3</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400?text=4" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 4</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/aba?text=5" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 5</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/fc0?text=6" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 6</div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <h5 class="mt-2 fw-light">advances one slide at a time</h5>
</div> -->

{% endblock%}

{% block body %}
{% if not g.user %}
<div class="container-fluid mt-3">
    <div class="alert alert-info text-center" role="alert">
        Welcome! Please <a href="/login" class="alert-link">Log in </a> or  <a href="/signup" class="alert-link">Sign up </a> to save the articles!
      </div>
</div>
{% endif %}
{% endblock %}